html{
	background-color: #3388cc;
	color: white;
	width: 1300px;
	margin: auto;
	font-family: Cambria, Helvetica, "Times New Roman";
	font-size: 1em;
	overflow: scroll;
}

body{
	width:100%;
}

nav{
	border-radius: 0.4em;
	background-color: #1166aa;
	font-size: 1.3em;
	height: 2.4em;
	width: 100%;
	display: inline-block;
}

nav ul{
	list-style-type: none;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

nav ul li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

nav a:link, nav a:visited{
	text-decoration: none;
	color: white;
}


nav a:hover{
	color: #AAAAFF;
}

nav a:active{
	text-decoration: none;
}

#about, #about * {
	padding: 0px;
	margin-bottom: 0px 0px 0px 0px;
	cursor: pointer;
}

#about #expand {
	display: inline;
	float:right;
	width:50px;
	text-align: center;
}

#about p {
	font-size: 1.3em;
	margin-bottom: 0px;
	clear:both;
}

.hide {
	display:none;
}
