html{
	background-color: #3388cc;
	color: white;
	width: 1300px;
	margin: auto;
	font-family: Cambria, Helvetica, "Times New Roman";
	font-size: 1em;
	overflow: scroll;
}

#navBar{
	border-radius: 0.4em;
	background-color: #1166aa;
	font-size: 1.2em;
	height: 2.4em;
	width: 100%;
	display: inline-table;
}

#navBar ul{
	list-style-type: none;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

#navBar ul li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#navBar a:link,#navBar a:visited{
	text-decoration: none;
	color: white;
}


#navBar a:hover{
	color: #AAAAFF;
}

#navBar a:active{
	text-decoration: none;
}

