html{
	background-color: #8899CC;
	color: white;
	width: 1340px;
	margin: auto;
	font-family: cambria, helvatica, times new roman;
	font-size: 1em;
}

#navBar{
	background-color: #444566;
	font-size: 1.2em;
	height: 1.4em;
}

#navBar ul{
	list-style-type: none;
	text-align: left;
}

#navBar ul li{
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#navBar a:link,#navBar a:visited{
	text-decoration: none;
	color: white;
}


#navBar a:hover{
	text-decoration: underline;
}

#navBar a:active{
	text-decoration: none;
}

.container{	
}