html{
	background-color: #8899CC;
	color: white;
	width: 1300px;
	margin: auto;
	font-family: Cambria, Helvetica, "Times New Roman";
	font-size: 1em;
	overflow: scroll;
}

#navBar{
	border-radius: 0.4em;
	background-color: #444566;
	font-size: 1.2em;
	height: 1.4em;
	display: inline-table;
	
}

#navBar ul{
	list-style-type: none;
	padding: 0px;
}

#navBar ul li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

#navBar a:link,#navBar a:visited{
	text-decoration: none;
	color: white;
}


#navBar a:hover{
	color: #AAAAFF;
}

#navBar a:active{
	text-decoration: none;
}

