a {
	color: white;
}

.bar {
	width: 100%;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

#me {
	display: block;
	float: left;
	margin: 0px 10px 10px 0px;
    width: auto;
}


/* Allows for navBar links to scroll correctly to a section on the page*/
.navLink {
	position: relative;
	top: -60px;
	margin-top: 60px;
	z-index: 0;
}


/* LINKS START*/
#links ul {
	text-align: center;
}
#links ul li {
	text-align: center;
	display: inline-block;
	margin: auto 2%;
	width: 20%;
}

#links img {
	height: 75px;
}

#links a {
	display: block;
}

#links p {
	margin-top: 5px;
}

/* LINKS END*/

/* RESUME START*/

#resume h3 {
	text-align: right;
	width: 100%;
}

/* RESUME END*/

/* PROJECTS START */
#projectsCont {
	text-align: center;
}

.project {
	display: inline-block;	
	width: 350px;
	margin: 10px 1%;
	outline: 1px solid white;
}

.project img {
	width: 100%;
	height: 200px;
}

.project-description {
	height: 220px;
	width: 350px;
	background-color: black;
	opacity: 0;
	position: absolute;
	z-index: 3;
}

.project-description:hover {
	opacity: 0.92;
}

.project-description h2 {
	position: relative;
	margin: 10px;
}
/* PROJECTS END */