html{
	/*background-color: #8899CC;*/
	/*color: white;*/
	font-family: Cambria, Helvetica, "Times New Roman";
	overflow: scroll;
    background-color: #89C;
}

form {
    background-color: white;
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 300px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

/* Every div that follows a div and is a child of form*/
form div + div {
    margin-top: 1em;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
    vertical-align: center;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font-size: 1em;
	font-family: Cambria, Helvetica, "Times New Roman";

    /* To give the same size to all text fields */
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}
.gender {
}

.gender input{
	width: 15px;
	height:15px;
	vertical-align: top;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: vertical;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
}
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 2px;
}
